body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .question {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .eightball {
    width: 150px;
    height: 150px;
    background-color:black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
    margin: 0 auto 20px;
  }
  
  .response {
    font-size: 20px;
    font-weight: bold;
  }

